{% extends "layout.njk" %}

    {% block content %}
        <div class="container">
            <div class="card-about">
                <div class="card-about-infos">
                    <div class="card-text">
                        <h1>As melhores receitas</h1>
                        <p>Aprenda a construir os melhores pratos<br>
                        com receitas criadas por profissionais
                        <br>do mundo inteiro.</p>
                    </div> 
                    <div class="image-about">
                        <img src="/assets/chef.png" alt="">
                    </div> 
                </div>
            </div>

            <div class="wrapper">
                <h1 class="menu-type">Mais acessadas</h1>
                <div class="cards">
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                </div>
            </div>

            <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-content">
                        <img src="/assets/asinhas.png" alt="" class="modal-picture">
                        <h1 class="modal-title">Asinhas de frango ao barbecue</h1>
                        <p class="modal-description">por Vania Steroski</p>
                    </div>
                    <div class="close-modal">
                        <a>Fechar</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}