<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block head %}
        <title>Foodly</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <header>
        <div class="links">
            <a href="/">
                <img src="/assets/logo.png" alt="">
            </a>
            <a href="/about">Sobre</a>
            <a href="/revenues">Receitas</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>

    <script src="/scripts.js"></script>
</body>
</html>