{% extends "layout.njk" %}

    {% block head%}
        <title>Foodly - Receitas</title>
    {% endblock %}

    {% block content %} 
        <div class="container">
            <div class="wrapper">
                <div class="cards">
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                    <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                     <div class="card">
                        <img src="/assets/burger.png" alt="" class="card-image">
                        <h1 class="card-title">Triplo bacon burger</h1>
                        <p class="card-description">por Jorge Relato</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal-overlay">
                <div class="modal">
                    <div class="modal-content">
                        <img src="/assets/asinhas.png" alt="" class="modal-picture">
                        <h1 class="modal-title">Asinhas de frango ao barbecue</h1>
                        <p class="modal-description">por Vania Steroski</p>
                    </div>
                    <div class="close-modal">
                        <a>Fechar</a>
                    </div>
                </div>
            </div>
    {% endblock %}